<!-- Reusable launch file for obstacle detection -->
<launch>
 <arg name="ring" default="-1" />
  <node name="obstacle_extractor_$(arg ring)" pkg="obstacle_detector" type="obstacle_extractor_node">
    <param name="active"               value="true"/>
    <param name="use_scan"             value="true"/>
    <param name="use_pcl"              value="false"/>

    <param name="use_split_and_merge"    value="false"/>
    <param name="circles_from_visibles"  value="true"/>
    <param name="discard_converted_segments" value="true"/>
    <param name="transform_coordinates"  value="false"/>

    <param name="min_group_points"     value="10"/>

    <param name="max_group_distance"   value="0.03"/>
    <param name="distance_proportion"  value="0.00628"/>
    <param name="max_split_distance"   value="0.1"/>
    <param name="max_merge_separation" value="0.1"/>
    <param name="max_merge_spread"     value="0.1"/>
    <param name="max_circle_radius"    value="0.1"/>
    <param name="radius_enlargement"   value="0"/>

    <!--param name="frame_id"             value="r1/odom"/-->
    <remap from="/raw_obstacles" to="/raw_obstacles$(arg ring)"/>
<remap from="/scan" to="/scan$(arg ring)"/>

  </node>
</launch>

